.fp-controlArrow {
    margin: 0 !important;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    border: none;
    width: 8vw !important;
    height: 100vh;
    opacity: .3;
    right: 0 !important;
    transition: 300ms ease-out;
}

.fp-controlArrow.fp-prev {
    transform: translateY(-50%) translateX(-30%);
}

.fp-controlArrow.fp-next {
    transform: translateY(-50%) translateX(30%);
}

.fp-controlArrow.fp-next::after,
.fp-controlArrow.fp-prev::after {
    content: '';
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 300ms ease-out;
}

.fp-controlArrow.fp-prev::after {
    transform: translateY(-50%) translate(-20%);
}

.fp-controlArrow.fp-next::after {
    transform: translateY(-50%) translateX(-80%);
}

.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-prev:hover {
    background: #44485b;
    transition: 300ms ease-out;
    transform: translateY(-50%) translateX(0);
}

.fp-controlArrow.fp-prev:hover::after {
    transition: 300ms ease-out;
    transform: translateY(-50%) translateX(-60%);
}

.fp-controlArrow.fp-next:hover::after {
    transition: 300ms ease-out;
    transform: translateY(-50%) translateX(-35%);
}

.fp-controlArrow.fp-prev {
    left: 0 !important;
}

.fp-controlArrow.fp-prev::after {
    background: url('../../assets/images/back.svg') no-repeat;
    stroke-width: 10px;
}

.fp-controlArrow.fp-next {
    right: 0;
}

.fp-controlArrow.fp-next::after {
    background: url('../../assets/images/next.svg') no-repeat;
}

.slide .fp-tableCell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width: 796px) {
    .fp-controlArrow.fp-next:hover,
    .fp-controlArrow.fp-prev:hover {
        background: none;
    }
}